.fp-recordaudio-recorder {display:none;}
.repository_recordaudio_wrapper {position:absolute; top:0;left:0;right:0;bottom:0; background-color:#fff;}
.repository_recordaudio .fp-recordaudio-recorder {display:table-row;}
.repository_recordaudio .fp-content {position:relative;}
.repository_recordaudio_wrapper textarea {display:none;}
.repository_recordaudio_wrapper > div {margin:20% auto; text-align:center;}